<div fxLayout="row" class="create-note-btn">
  <button mat-raised-button color="success" (click)="onAdd()">
    Create Note
  </button>
</div>

<div fxLayout="column" class="container">
  <div fxFlex="40" class="notes-list-box">
    <div cdkDropList class="notes-list" (cdkDropListDropped)="drop($event)">
      <div
        class="note-box"
        *ngFor="let note of noteList; let i = index"
        cdkDrag
        (click)="onNoteClick(note)"
      >
        <p style="color: black">
          {{ note.title }}
        </p>
        <div style="display: inline-flex">
          <button
            class="note-btn"
            mat-raised-button
            color="primary"
            (click)="onEdit(note)"
          >
            Edit
          </button>
          <button
            class="note-btn"
            mat-raised-button
            color="warn"
            (click)="openConfirmDialog(note)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex class="note-preview">
    <div class="note-settings">
      <h3>note background color</h3>
      <mat-form-field>
        <mat-label>favourite color</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="color">
          <mat-option *ngFor="let color of colors" [value]="color.value">
            {{ color.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <textarea
      *ngIf="tempNote"
      disabled
      [ngStyle]="{ background: 2 > 1 ? selectedValue : '' }"
      class="text-box"
      cols="50"
      rows="10"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
    >
      {{ tempNote?.title + "\n\n" + tempNote?.text }}
      </textarea
    >
    <textarea
      *ngIf="!tempNote"
      disabled
      [ngStyle]="{ background: 2 > 1 ? selectedValue : '' }"
      class="text-box"
      cols="50"
      rows="10"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
    >
    Select a note
    </textarea>
  </div>
</div>
