<div fxLayout="row" style="margin-top: 5%; margin-bottom: 2%; padding-left: 5%">
  <button mat-raised-button color="success" (click)="onAdd()">
    Create Note
  </button>
</div>

<div fxLayout="row" class="container">
  <div fxFlex="40" class="notes-list">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let note of noteList; let i = index"
        cdkDrag
        (click)="onNoteClick(note)"
      >
        <p style="color: black">
          {{ note.title }}
        </p>
        <div style="display: inline-flex">
          <button
            class="note-btn"
            mat-raised-button
            color="primary"
            style="margin-right: 3%"
            (click)="onEdit(note)"
          >
            Edit
          </button>
          <button
            class="note-btn"
            mat-raised-button
            color="warn"
            (click)="onDelete(note)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex style="margin-left: 13%">
    <div class="note-settings">
      <h5>note background color</h5>
      <mat-form-field>
        <mat-label>favourite color</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="color">
          <mat-option *ngFor="let color of colors" [value]="color.value">
            {{ color.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <textarea
      *ngIf="tempNote"
      disabled
      [ngStyle]="{ background: 2 > 1 ? selectedValue : '' }"
      class="text-box"
      cols="55"
      rows="15"
      cdkTextareaAutosize
      cdkAutosizeMinRows="10"
      cdkAutosizeMaxRows="40"
      cdkAutosizeMaxColumns="50"
    >
      {{ tempNote?.title + "\n\n" + tempNote?.text }}
      </textarea
    >
    <textarea
      *ngIf="!tempNote"
      disabled
      [ngStyle]="{ background: 2 > 1 ? selectedValue : '' }"
      class="text-box"
      cols="55"
      rows="15"
      cdkTextareaAutosize
      cdkAutosizeMinRows="10"
      cdkAutosizeMaxRows="40"
      cdkAutosizeMaxColumns="50"
    >
    </textarea>
  </div>
</div>
