<div class="form" style="position: relative">
  <mat-form-field class="full-width">
    <mat-label>Note Title</mat-label>
    <input
      matInput
      placeholder="Ex. Pie Recipe"
      [(ngModel)]="note_title"
      (ngModelChange)="onChangedForm()"
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Note Text</mat-label>
    <textarea
      matInput
      placeholder="Ex. 5 cups of sugar"
      [(ngModel)]="note_text"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="14"
      (ngModelChange)="onChangedForm()"
    ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancelClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="onSaveClick()" [disabled]="unchanged">
    Ok
  </button>
</div>
